<IfModule mod_rewrite.c>
    RewriteEngine On
	RewriteBase /grassblade-lrs/app/webroot/
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
    RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization},L]
</IfModule>
