Options +Indexes
Options -MultiViews
<IfModule mod_rewrite.c>
   	RewriteEngine on
   	RewriteBase /grassblade-lrs/
  	RewriteCond %{REQUEST_URI} !^/(app/webroot/)?(img|css|js)/(.*)$
	RewriteRule    ^$ app/webroot/    [L]
   	RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>
<Limit GET POST PUT DELETE>
  Allow from all
</Limit>
